
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Users List</h2>
    </div>
    
    <div class="panel-body">
      <table  datatable class="table row-border hover" *ngIf="this.temp" cellspacing="0" width="100%">

        <thead>
          <tr>
            <th data-column="user_name" >Name</th>
            <th data-column="user_email" >Email</th>
            <th data-column="user_phone" >Phone</th>
            <th data-column="user_age"  class="num">Age</th>
            <th data-column="created_on"  class="num">created on</th>
            <th data-column="user_status" >Status</th>
            <th data-column="user_id" class="num">Id</th>
            <th >Actions</th>
          </tr>
        </thead>
    <tbody><tr *ngFor="let user of users"> 
      <td>{{user.user_name}}</td>
      <td>{{user.user_email}}</td>
      <td>{{user.user_phone}}</td>
      <td>{{user.user_age}}</td>
      <td>{{user.created_on}}</td>
      <td>{{user.user_status}}</td>
      <td>{{user.user_id}}</td>
        <td><button style='margin-right:16px' (click)="deleteUser(user.user_id)" class="btn btn-danger">Delete</button>
          <button style='margin-right:16px' (click)="updateUser(user.user_id)" class="btn btn-success" style="margin-left: 10px">Edit details</button>
        </td>
    </tr>
  </tbody>
      </table>
    </div>
  </div>


